<mat-card>
  <h1>Google</h1>
  <p>
    We use Google Analytics for tracking user actions on this website as well as
    obtaining anonymous demographic information, and in accordance to their
    policies you can find their privacy policy
    <a href="https://policies.google.com/privacy?hl=en">here</a>
  </p>

  <h2>Analytics Components</h2>

  <p>
    We are currently making use of Google Analytics ability to track anonymous
    demographic information such as age and gender to see who uses our website
    and how. If you do not wish to be tracked in such a fashion, please consult
    the link below for information about how to opt out of Google Analytics
    tracking.
  </p>

  <p>
    To opt out of of Google Analytics tracking, please see
    <a href="https://tools.google.com/dlpage/gaoptout/">this page</a>.
  </p>

  <h2>European Users</h2>
  <p>
    We do not currently operate with the European Economic Area and as such if
    you are connecting to us from within the EU please be advised we are not
    currently equipped to handle your traffic, and do not store explicit consent
    for tracking purposes. If you reside within the EU and have interest in our
    services, contact us at
    <a
      href="mailto:webmaster@dalywinter.com?subject=RE: European User Request&body=Please enter your question or comment here"
      >webmaster@dalywinter.com</a
    >
    with a written request for information and we will do our best to accomodate
    you.
  </p>
</mat-card>
