<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="sdaly"></div>
    <mat-card-title>
      Scott Daly
    </mat-card-title>
    <mat-card-subtitle>
      Senior Partner
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <a href="tel:+19056871565">905-687-1565</a>
  </mat-card-content>

  <mat-card-actions fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">
    <a href="https://www.linkedin.com/in/scott-n-daly-qbe-9633a328/"><span class="icon-linkedin-square"></span></a>
    <span>&nbsp;</span>
    <a href="mailto:s.daly@dalywinter.com"><span class="icon-envelope"></span></a>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="czima"></div>
    <mat-card-title>
      Charles Zima
    </mat-card-title>
    <mat-card-subtitle>
      Senior Partner
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <a href="tel:+19059238462">905-923-8462</a>
  </mat-card-content>

  <mat-card-actions fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">
    <a href="https://ca.linkedin.com/in/charles-zima-2573a31b"><span class="icon-linkedin-square"></span></a>
    <span>&nbsp;</span>
    <a href="mailto:czima@dalywinter.com"><span class="icon-envelope"></span></a>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="mevans"></div>
    <mat-card-title>
      Mick Evans
    </mat-card-title>
    <mat-card-subtitle>
      Chief Technology Officer
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content> </mat-card-content>

  <mat-card-actions fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">
    <a href="https://www.linkedin.com/in/mick-evans-0604291a/"><span class="icon-linkedin-square"></span></a>
    <span>&nbsp;</span>
    <a href="mailto:mevans@dalywinter.com"><span class="icon-envelope"></span></a>
    <span>&nbsp;</span>
    <a href="skype:live:mevans_475?call">
      <span class="icon-skype"></span>
    </a>
  </mat-card-actions>
</mat-card>
