<h2 class="outside-card">
  About Us
</h2>

<div class="headline outside-card">
  <p>
    Daly Winters & Associates is a collection of seasoned insurance executives
    and entrepreneurs with a shared vision of providing organizations with much
    needed support in the area of culture enhancement and positive workplace
    engagement.
  </p>
</div>

<div fxLayout>
  <mat-card class="seniorPartner">
    <mat-card-header>
      <div mat-card-avatar class="sdaly"></div>
      <mat-card-title>
        Scott Daly
      </mat-card-title>
      <mat-card-subtitle>
        Senior Partner
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      A serial entrepreneur and insurance industry veteran Mr Daly is the
      co-founder of Daly Winter & Associates. His leadership and extensive
      experience with needs based analysis solution processes are the motivation
      behind our firms strategic planning. His enthusiasm and friendly approach
      have made him a perennial favourite for clients to have at the table. As a
      corporate culture improvement advocate Scott has helped many organizations
      implement unique programs that have benefited employers and their
      employees address and conquer a wide variety of workplace concerns.
      Married with three children he is a prolific writer and art enthusiast. He
      divides his time between Los Angeles California and home base in Niagara
      Ontario.
    </mat-card-content>
  </mat-card>

  <mat-card class="seniorPartner">
    <mat-card-header>
      <div mat-card-avatar class="czima"></div>
      <mat-card-title>
        Charles Zima
      </mat-card-title>
      <mat-card-subtitle>
        Senior Partner
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Charles’ career began at a major Canadian Insurance company which then led
      him to a major medical management organization. From there Mr. Zima went
      into academia, and ultimately he decided to pursue a lifelong passion by
      starting and running a professional basketball team in Hamilton. Returning
      to his roots by Co-founding Daly Winter & Associates, Mr. Zima is inspired
      by the positive response in the culture change community in organizations.
      Mr. Zima attended business school at Ryerson and is married with 3
      children.
    </mat-card-content>
  </mat-card>
</div>

<!--<mat-card>
    <mat-card-header>
      <mat-card-title>
        Peggy Daly
      </mat-card-title>
      <mat-card-subtitle>
        Peggy's title here
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Peggy's bio here
    </mat-card-content>
  </mat-card>-->

<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="mevans"></div>
    <mat-card-title>
      Mick Evans
    </mat-card-title>
    <mat-card-subtitle>
      Chief Technology Officer
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <!-- OLD BIO
      Mick has been dealing with tech of all kinds his whole life and has
    developed a knack for being able to quickly create custom technical
    solutions for all kinds of problems. He has accumulated a rather extensive
    list of skills over the years trying to find the right match for him before
    he settled into the technical industry after having his first child. Largely
    self-taught, he has a unique way of approaching problems that provides a
    fresh insight into things that others may overlook. Mick is married with 2
    children.
    -->
    Mick has extensive experience in many fields of tech, and has been deeply
    ingrained in it for the majority of his life. He has an exceptional ability
    to tackle problems with a unique approach due to his largely self-taught
    knowledgebase. His motto is "If it has buttons, switches or wires, I can
    probably fix it" and has rarely come across a problem he cannot solve given
    a little time. Mick is married with two children.
  </mat-card-content>
</mat-card>
