<mat-toolbar class="navbar" color="primary">
  <div fxHide.gt-sm>
    <button mat-icon-button (click)="onToggleSidenav()" aria-label="Home">
      <span class="icon-menu"></span>
    </button>
  </div>
  <div>
    <a routerLink="/home">Home</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="space-evenly" fxHide.lt-md id="navbar">
    <ul fxLayout fxLayoutAlign="space-evenly" fxLayoutGap="10vw" class="navigation-items">
      <li>
        <button mat-icon-button>
          <a routerLink="/about">About Us</a>
        </button>
      </li>

      <li>
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          Solutions
        </button>
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item>
            <a routerLink="/fpo">For Profit Organizations</a>
          </button>
          <button mat-menu-item>
            <a routerLink="/npo">Not for Profit Organizations</a>
          </button>
          <button mat-menu-item>
            <a routerLink="/unions">For Unions & Associations</a>
          </button>
          <button mat-menu-item>
            <a routerLink="/brokers">For Brokers & Consultants</a>
          </button>
        </mat-menu>
      </li>

      <li>
        <button mat-icon-button>
          <a routerLink="/resources">Resources</a>
        </button>
      </li>

      <li>
        <button mat-icon-button>
          <a routerLink="/partner-providers">Partner Providers</a>
        </button>
      </li>

      <li>
        <button mat-icon-button>
          <a routerLink="/contact">Contact Us</a>
        </button>
      </li>

      <li>
        <button mat-icon-button>
          <a routerLink="/testimonials">Testimonials</a>
        </button>
      </li>
    </ul>
  </div>
</mat-toolbar>
