h1 {
  font-size: 2.5em;
}

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
  height: 100vh;
  position: fixed;
}

.logo {
  max-height: 10vh;
  margin-top: 1em;
  margin-left: 1em;
}

.logoHolder {
  background-color: black;
  color: white;
}

.bgimg {
  display: block;
  height: 100%;
  background: url("../assets/img/background.webp") no-repeat center center fixed;
  background-size: cover;
}

.mainpage {
  // min-height: 80vh;
  overflow: auto;
  position: relative;
}

.toast-container {
  color: whitesmoke;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.sticky-nav {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}
