<div fxLayout="column">
  <div fxLayout fxLayoutAlign="space-between center" class="logoHolder">
    <img src="../assets/img/company_logo_transparent.webp" alt="Daly Winter & Associates logo" class="logo" />
    <h1>{{ title | uppercase }}</h1>
    <span></span> <!-- Keeps the title centered because we need three items -->
  </div>
  <mat-sidenav-container class="mainpage">
    <mat-sidenav #sidenav role="navigation">
      <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content class="bgimg">
      <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer [foundingYear]="foundingYear" [author]="author" fxFlexOffset="auto"></app-footer>
  <div toastContainer></div>
</div>
