<h2 class="outside-card">
  Corporate Culture Advice in the following key areas
</h2>
<div fxFlexLayout="row" fxLayout.gt-sm="row" fxLayout.lt-md="column">
  <div fxFlex="column">
    <mat-card class="topCard">
      <mat-card-title>
        Executives and Management
      </mat-card-title>
      <mat-card-content>
        <ul>
          <li>Personal ID protection (electronic & internet)</li>
          <li>Healthcare concierge services</li>
          <li>Private & corporate legal advice</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="column" fxHide.lt-md>
    <mat-card class="topCard">
      <mat-card-title>
        Custom Programs
      </mat-card-title>
      <mat-card-content style="text-align: center">
        Choose from a variety of options
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="column">
    <mat-card class="topCard">
      <mat-card-title>
        Organizational Wide Benefits
      </mat-card-title>
      <mat-card-content>
        <ul>
          <li>Legal protection</li>
          <li>Identity protection</li>
          <li>Affinity programs</li>
          <li>Emergency legal access</li>
          <li>Medical management services</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <b>Why think about benefits?</b>
    </mat-card-title>
  </mat-card-header>

  <p class="firstPara">
    72 per cent of Canadian employers said they expect to differentiate their
    benefits programs for recruitment and retention in the next three years.
    Just 12 per cent currently do so, according to a new survey by Willis Towers
    Watson.
  </p>
  <p>
    It found 60 per cent of employers now offer flexible benefits, and this is
    set to rise to 78 per cent by 2020. By then, almost two-thirds (60 per cent)
    of respondents said they expect their employees will be customizing which
    benefits and options to purchase using their employer-provided benefits
    dollars, up from 43 per cent today.
  </p>
  <p>
    “Plan sponsors are quickly realizing the power in using their health and
    well-being strategies to differentiate themselves from competitors,” said
    Wendy Poirier, managing director and health innovation leader at Willis
    Towers Watson, in a press release. “They’re taking steps to gain this
    competitive advantage by integrating physical and emotional health, and
    social and financial well-being programs into their total rewards programs,
    while clearly recognizing the value of benefits to meet their talent and
    prospects’ evolving needs.”
  </p>

  <p>
    The survey also found employee engagement in well-being remains a challenge,
    though that’s evolving as 31 per cent of respondents said they’re willing to
    launch technology pilots to support health and well-being programs. And
    nearly 80 per cent of respondents said they’ll offer access to online
    wellness platforms or apps by 2020.
  </p>
</mat-card>
