<!-- {{testimonials|async|json}} -->
<div *ngIf="(testimonials | async|json)?.length>0; else elseBlock">
  <p class="outside-card">Customer Testimonials</p>
  <ul>
      <li *ngFor="let t of testimonials | async">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <b [class.done]="t.done">{{t.author}}</b>
            </mat-card-title>
            <mat-card-subtitle>
              <b [class.done]="t.done">{{t.position}}</b>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <b [class.done]="t.done">{{t.description}}</b>
          </mat-card-content>
        </mat-card>
      </li>
    </ul>
</div>
<ng-template #elseBlock><p class="outside-card">UNDER CONSTRUCTION</p></ng-template>
